<mat-card>
  <form [formGroup]="form" (ngSubmit)="add(form.value)">
  <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Title" formControlName=title>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
      <input type="hidden" formControlName="status" value="PENDING">
  </mat-card-content>
  <mat-card-actions>
    <button mat-button type="submit" mat-raised-button>Add</button>
  </mat-card-actions>
  </form>
</mat-card>
